div.article-list main {
    width: 70%;
}

@media (max-width: 992px) {
    div.article-list main {
        width: 80%;
    }
}

@media (max-width: 767px) {
    div.article-list main {
        width: unset;
    }

    div.article-list h1 {
        margin: 2.5rem 0 3rem 0;
    }
}

div.article-card {
    display: flex;
    margin-bottom: 3.2rem;
}

div.article-card > img {
    max-width: 27.2rem;
    max-height: 24.4rem;
    object-fit: cover;
}

div.article-card > div {
    margin-left: 2.4rem;
}

div.article-card > div > h4 {
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
}

div.article-card > div > p {
    margin: 1.6rem 0 2rem;
    line-height: 2.4rem;
}

div.article-card > div > a {
    font-size: 1.4rem;
    margin-left: 1rem;
}

div.article-card > div > span:last-child {
    margin-left: 2rem;
}

@media (max-width: 767px) {
    div.article-card {
        flex-direction: column-reverse;
    }

    div.article-card > img {
        max-width: unset;
        max-height: 50vh;
    }

    div.article-card > div {
        margin-left: 0;
        margin-bottom: 1.5rem;
    }

    div.article-card > div > h4 {
        line-height: 2.8rem;
        margin-bottom: 1.6rem;
    }

    div.article-card > div > p {
        margin: 1.6rem 0 2rem;
    }
}
